body {
  background: #111;
  color: #ccc;
  font-family: "Purista", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

canvas#bg {
  position: absolute;
  z-index: -3;
  left: 0;
  top: 0;
}

.header {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}
.header__logo {
  display: flex;
}
.header__logo img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.header ul {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin: 0 0 2rem 0;
}
.header ul a {
  text-decoration: none;
}
.header ul a li {
  margin: 0 0.75rem 0 0.75rem;
  font-size: 2rem;
  color: white;
}
.header ul a li:hover {
  transform: scale(1.1);
  border-bottom: white 1px solid;
}
.header ul .header__list--active {
  font-weight: bold;
}
.header ul .header__list--inactive {
  font-weight: 400;
}
@media (min-width: 672px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .header ul {
    margin: 0;
  }
}
@media (min-width: 990px) {
  .header {
    padding: 2rem 3rem;
  }
  .header__logo img {
    width: 7rem;
    height: auto;
  }
  .header__logo h2 {
    font-size: 2rem;
  }
  .header ul li {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
}

.content {
  display: flex;
  justify-content: center;
}
.content__card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  width: 250px;
  height: 350px;
  text-align: center;
  color: #252B37;
  background-color: #151823;
  animation: textColor 10s ease infinite;
}
.content__card:after {
  content: "";
  position: absolute;
  top: 5vw;
  left: 0;
  right: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.85);
  filter: blur(5vw);
  background: linear-gradient(-90deg, #0fffc1, #7e0fff);
  background-size: 200%;
  animation: animateGlow 10s ease infinite;
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}
.content__card .content__title {
  margin: 0;
  padding: 0.5rem;
  font-size: 2rem;
}
.content__card .content__text {
  padding: 1rem;
}
.content__card a {
  text-decoration: none;
  color: white;
}
@media (min-width: 672px) {
  .content__card {
    width: 43.75rem;
    height: 34.375rem;
    margin-top: 10rem;
  }
  .content__card .content__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
  }
  .content__card .content__text h3 {
    font-size: 2rem;
  }
  .content__card .content__text p {
    font-size: 1.5rem;
  }
  .content__card .content__form p {
    font-size: 2rem;
    margin: 0;
    padding-bottom: 1rem;
  }
  .content__card .content__form input {
    width: 70%;
    height: 2.75rem;
    font-size: 1.25rem;
  }
  .content__card .content__form button {
    width: 10rem;
    height: 3rem;
    margin-top: 1.5rem;
  }
  .content__card .content__geolocation {
    top: 23.9rem;
    left: 32rem;
    padding: 0.75rem;
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 990px) {
  .content__card {
    margin-top: 50px;
  }
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
}
.footer__title {
  margin: 0;
  padding-bottom: 0.75rem;
}
.footer__contact-icons {
  display: flex;
}
.footer__contact-icons .footer__contact-icon {
  width: 30px;
  height: auto;
  margin: 0 0.5rem 0 0.5rem;
}
.footer__contact-icons .footer__contact-icon--email {
  filter: invert(1);
}
.footer__contact-icons .footer__contact-icon--email img {
  width: 100%;
  height: auto;
}
.footer__contact-icons .footer__contact-icon--linked-in {
  filter: invert(1);
}
.footer__contact-icons .footer__contact-icon--linked-in img {
  width: 100%;
  height: auto;
}
.footer__contact-icons .footer__contact-icon--github {
  filter: invert(1);
}
.footer__contact-icons .footer__contact-icon--github img {
  width: 100%;
  height: auto;
}
@media (min-width: 672px) {
  .footer {
    margin-top: 5rem;
  }
  .footer__title {
    font-size: 2.25rem;
  }
  .footer__contact-icons .footer__contact-icon {
    width: 3.25rem;
    height: auto;
    margin: 0 1rem 0 1rem;
  }
  .footer__contact-icons .footer__contact-icon:hover {
    transform: scale(1.1);
  }
}
@media (min-width: 990px) {
  .footer {
    padding: 0;
  }
}

.stand-image {
  z-index: -1;
  opacity: 5%;
  position: absolute;
  background: url(../assets/images/weather-report.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.pulse {
  --color: white;
  --hover: white;
}

a button {
  color: var(--color);
  transition: 0.25s;
}
a button:hover, a button:focus {
  border-color: var(--hover);
  color: #fff;
}

a button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin-top: 0.75rem;
  padding: 0.6rem 1.5rem;
}/*# sourceMappingURL=about.css.map */