@use "./partials/breakpoints";

// ======================================
// ============ GENERAL STYLE ===========
// ======================================

body {
	background: #111;
	color: #ccc;
	font-family: 'Purista', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}
// ======================================
// =========== CANVAS STYLE =============
// ======================================

@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration){
	&:after {
	  content:'';
	  position:absolute;
	  top:$y;
	  left:$x;
	  right:0;
	  z-index:-2;
	  height: 100%;
	  width: 100%;
	  margin: 0 auto;
	  transform: scale($size);
	  filter: blur($spread);
	  background: linear-gradient(-90deg, $colorA, $colorB);
	  background-size:200%;
	  animation: animateGlow $duration ease infinite;
	  
	  @keyframes animateGlow {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	  }
	}
  }

canvas#bg {
	position: absolute;
    z-index: -3;
	left: 0;
	top: 0;
}

// ======================================
// =========== HEADER STYLE =============
// ======================================

.header {
    z-index: 1;
    width: 100%;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 0.5rem;
	&__logo {
		display: flex;
		img {
		width: 65px;
		height: 65px;
		border-radius: 50%;
	}
	}
	ul {
		display: flex;
		list-style: none;
		padding: 0;
		align-items: center;
		justify-content: center;
		margin: 0 0 2rem 0;
		li {
			margin: 0 0.75rem 0 0.75rem;
			font-size: 1.5rem;
		}
	}
}

// ======================================
// ============= MAIN STYLE =============
// ======================================

.content {
	display: flex;
	justify-content: center;
	&__card {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		position:relative;
		border-radius:15px;
		width:250px;
		height:350px;
		text-align:center;
		color: #252B37;
		background-color: #151823;
		@include backlight(0, 5vw, 5vw, 0.85, #0fffc1, #7e0fff, 10s);
		animation: textColor 10s ease infinite;
		
		@keyframes textColor {
		  0% {
			color: #7e0fff;
		  }
		  50% {
			color: #0fffc1;
		  }
		  100% {
			color: #7e0fff;
		  }
		}

		.content__title {
			margin: 0;
			padding: 0.5rem;
		}

		.content__text {
			border: 1px silver solid;
			width: 80%;
			padding: 1rem;
			&-quote {
				margin: 0;
			}
			&-author {
				padding-top: 0.5rem;
				margin: 0;
				font-style: italic;
			}
		}


		.content__form {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 0.5rem;
		}
	  }
}

// +++++++ RELOADED CARD +++++++
.content__weather {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		position:relative;
		border-radius:15px;
		width:300px;
		height:400px;
		text-align:center;
		color: #252B37;
		background-color: #151823;
		@include backlight(0, 5vw, 5vw, 0.85, #0fffc1, #7e0fff, 10s);
		animation: textColor 10s ease infinite;
		
		@keyframes textColor {
		  0% {
			color: #7e0fff;
		  }
		  50% {
			color: #0fffc1;
		  }
		  100% {
			color: #7e0fff;
		  }
		}

		.card__top {
			display: flex;
			justify-content: space-evenly;
			width: 80%;
			border: 1px silver solid;
			border-radius: 10px;
			.card__icon {
				display: flex;
				align-items: center;
				img {
					width: 75px;
					height: 75px;
					border-radius: 50%;
				}
			}
		}
		.card__bottom {
			display: flex;
			flex-direction: column;
			align-items: center;

			h3, p {
				margin: 0;
			}

			h3 {
				font-size: 1rem;
				margin: 1rem;
			}

			p {
				margin-top: 0.5rem;
			}
			.card__indexes {
				display: flex;
				p {
					margin: 1rem 0.5rem 0 0.5rem;
				}
			}
		}
}

// ======================================
// ============ FOOTER STYLE ============
// ======================================

.footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding-top: 3rem;

	&__title {
		margin: 0;
		padding-bottom: 0.75rem;
	}

	&__contact {
		&-icons{
			display: flex;
		.footer__contact-icon {
			width: 30px;
			height: auto;
			margin: 0 0.5rem 0 0.5rem;
			&--email {
				filter: invert(1);
				img {
					width: 100%;
					height: auto;
				}
			}
			&--linked-in {
				filter: invert(1);
				img {
					width: 100%;
					height: auto;
				}
			}
			&--github {
				filter: invert(1);
				img {
					width: 100%;
					height: auto;
				}
			}
		
		}
	}
	}
}

// ======================================
// ============ STAND STYLE =============
// ======================================

.stand-image {
	z-index: -1;
	opacity: 5%;
	position: absolute;
	background: url(../assets/images/weather-report.png);
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
}

// ======================================
// ============ PULSE STYLE =============
// ======================================


// Animate the size, outside
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

//=== Set button colors
// If you wonder why use Sass vars or CSS custom properties...
  // Make a map with the class names and matching colors
$colors: (
  pulse: white, 
);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
  // Loop through the map and set CSS custom properties using Sass variables
@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}

// Basic button styles
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin-top: 0.75rem;
  padding: 0.6rem 1.5rem;
}

